<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <!-- my template for html with ejs  -->
  <h1>21 Savage</h1>
  <h2>Why you trappin so hard?</h2>


  <h3>Messages</h3>
  <ul class="messages">
    <!-- looping through my messages in my list below and for every message your going to create html elemenets such another bullet point(list), a span for the message, name, thumbup and creating 3 icons trash,like, dislike 
    aria hidden = true is catered to inidividuals with screen reader aka accessibility for blind ppl
  % is the syntax used with ejs and is place holders in line 24, 26, 27-->
  <% for(var i=0; i<messages.length; i++) { %>
    <li class="message">
      <!-- everything we insert is a get -->
      <span><%= messages[i].name %></span>
      <!-- // depending how many objects there are it prints it that many times  -->
      <span><%= messages[i].msg %></span>
      <span><%= messages[i].thumbUp %></span>
      <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
  <% } %>
  </ul>

  <h2>Add a message</h2>

  <form action="/messages" method="POST">// a form will submit on its own due to the submit 
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="message" name="msg">
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
