<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Natal Chart Sign Tracker</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Astrology</h1>
  <h2>What will I learn today?</h2>


  <h3>My Chart Information</h3>

  <!--establish a new collection that is called "birthChart" and display
  the list here for now-->
  <ul class="birthChart">
  <% for(var i=0; i<birthChart.length; i++) {%>
    <li class="birthChart">
      <!--in the array we get back we specifically want to grab the sun moon and venus for now-->
        <!--the date is child node 1-->
       <span><%= birthChart[i].date %></span>
      <span><%= birthChart[i].sun %></span>
      <span><%= birthChart[i].moon %></span>
      <span><%= birthChart[i].venus %></span>


      <span><i class="date" aria-hidden="true"></i></span>
      <span><i class="sun" aria-hidden="true"></i></span>
      <span><i class="moon" aria-hidden="true"></i></span>
      <span><i class="venus" aria-hidden="true"></i></span>
      <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
      <!--possibly get rid of thumbs up and down, but keep trash-->
      <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
       
    </li>
  <% } %>
  </ul>

  <h2>Add Your Birth Details</h2>
<!--establish a new form action that will go to the "birthChart" collection
in order to retrieve the data from the input-->
  <form action="/birthChart" method="POST">
    <input type="date" name="date">
  
    <button type="submit" name="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
