<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="favicon.ico">
  <!--<link rel="stylesheet" href="font-awesome.min.css">-->
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
  <h1 class="text-center">Contact List<h1>
    <br />
  <form  method="POST" action="/contacts" class="form-inline">
    
          Name: <input name="name"placeholder="Name..." class="form-control" id="inputName" />
          Email: <input name="email" placeholder="Email Address..." class="form-control" id="inputEmail" />
          Phone: <input name="phone" placeholder="Phone Number..." class="form-control" id="inputPhone" />
          <div id="submitButtons"><button type="submit" class="btn btn-info">Submit</button></div>
  </form>
      <h3>My Contacts</h3>
      <ul class="contacts">
        <% for(var i=0; i<contacts.length; i++) {
          let favoriteclass = 'fa-regular'
          if (contacts[i].favorite == true){
            favoriteclass = 'fa-solid'
          }
          %>
          <li class="contacts">
            <span><%= contacts[i].name %></span>
            <span><%= contacts[i].email %></span>
            <span><%= contacts[i].phone %></span>
            <span><i class="<%=favoriteclass%> fa-star"></i></span>
            
          </li>
        <% } %>
        </ul>



  <script src="main.js"></script>

</body>
</html>
