body{
  background: red;
}
h3{
  margin-top: 40px;
}

li{
  list-style: none;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 5%;
  text-align: center;
  font-size: 50;
}
 
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}
 
.slide-wrapper {
  width: calc(728px * 4);
  animation: slide 12s ease infinite;
}
 

.slide:nth-child(1) {
  background: url('supervillain.jpeg');
  background-size: cover;
}
 
.slide:nth-child(2) {
  background: url('issaknife.jpeg');
  background-size: cover;
}
 
.slide:nth-child(3) {
  background: url('savage.jpeg');
  background-size: cover;
}
 
.slide:nth-child(4) {
  background: url('savage21.jpeg');
  background-size: cover;
}
 

@keyframes slide {
   
  20% {
    margin-left: 0px;
  }
 
  40% {
    margin-left: calc(-728px * 1);
  }
 
  60% {
    margin-left: calc(-728px * 2);
  }
 
  80% {
    margin-left: calc(-728px * 3);
  }
}








body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
